body{
    background-color: black;
}

.carousel-inner .item img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    text-align: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.contenido {
    text-align: justify;
    color: #fff;
    margin-top: 50px; /* Ajusta el margen superior según lo necesites */
    margin-left: 50px; /* Ajusta el margen izquierdo según lo necesites */
    margin-right: 50px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espaciado superior según sea necesario */
}

.redes-sociales a {
    margin: 0 20px; /* Espaciado entre los íconos */
}

.redes-sociales a i {
    font-size: 40px; /* Tamaño del ícono */
    color: white; /* Color del ícono */
}

.boton-siguenos {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #FF4500; /* Borde llamativo */
    background-color: #FF6347; /* Color llamativo */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.boton-siguenos:hover {
    background-color: #FF4500; /* Cambio de color al pasar el mouse */
    border-color: #FF6347; /* Cambio de borde al pasar el mouse */
    color: white; /* Cambio de color de texto al pasar el mouse */
}